{% extends "base.html" %}

{% block titulo %}
	Qaysen | Desarrollo Web, Desarrollo de Paginas Web, SEO, Paginas web para moviles y tablets.
{% endblock titulo %}

{% block contenido %}

	<header>
		<hgroup>
			<h1>Qaysen</h1>
			<h4>Desarrollo Web</h4>
		</hgroup>
	</header>
	<!--<nav>
		<ul>
			<li><a href="">Quienes Somos</a></li>
			<li><a href="">Servicios</a></li>
			<li><a href="">Portafolio</a></li>
			<li><a href="">Contactenos</a></li>
		</ul>
	</nav>-->
	<section class="bienvenido">
		<article>
			<p>Logramos que te muestres al mundo.</p>
		</article>
		<article>
			<p>Tu web adaptada a la modernidad.</p>
		</article>
		<article>
			<p>Tus clientes te buscaran facilmente.</p>
		</article>
	</section>
	
{% endblock contenido %}